html, body {
  background-color: $light-grey;
  font-family: Arial, sans-serif;
}

body {
  padding-bottom: 31px; // Voor footer
}

* {
  box-sizing: border-box;
}

// Breadcrumbs
.contextTitle {
  margin-top: 0 !important;
  margin-bottom: 10px;
  padding: 8px 20px;
  display: inline-block;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #E1E3E6;
  background: none;
  font-size: 0.8125em;
  font-weight: bold;
  color: $secondary-text-color;

  a {
    text-decoration: none;
  }

  tbody > tr > td > .contetxtPath {
    font-weight: normal;
  }
}

#footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: $white;
  font-size: rs(11, $base-fs);
  background: $footer-background-color;
}

#submitMonitor {
  display: none;
}

.topAligned {
  vertical-align: top;
}

#body > div  > form {
  > .fieldset {
    padding: 20px 10px;
    font-size: rs($base-fs);
    width: 100%;
    background: $white;
    border: 1px solid $secondary-grey;
    @include border-radius($border-radius-small);
    @include box-shadow();
    .fieldsetWithLegend {
      margin: 0 10px 0 0;
      display: inline-block;
      border: 1px solid $grey;
      .fieldsetLegend {
        padding: 10px;
        background: $grey;
      }
    }
  }
}