html, body {
  background-color: $light-grey;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

// Breadcrumbs
.contextTitle {
  margin-top: 0 !important;
  padding: 8px 20px;
  display: inline-block;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #E1E3E6;
  background: none;
  font-size: 0.8125em;
  font-weight: bold;
  color: $secondary-text-color;


  a {
    text-decoration: none;
  }

  .contetxtPath {
    font-weight: normal;
  }
}

#footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: $white;
  font-size: rs(11, $base-fs);
  background: $footer-background-color;
}