#header > div {
  form.toolbar {
    padding: 5px 0 5px 10px;
    background: #F6F6F6;
    border-bottom: 1px solid $secondary-grey;
    > .ssButton {
      padding: 2px 10px;
      margin: 5px 10px;
      background-image: none !important;
      background-color: inherit;
      border: none;
      font-size: rs(13, $base-fs);
      color: $secondary-text-color;

      &:hover {
        border-color: #3aabb6;
        background-color: #3aabb6;
        color: #FFFFFF;
        cursor: pointer;

        background-color: #59C0CA;
        color: #FFFFFF;
        @include border-radius(20px);
      }
      &:focus {
        outline: none;
      }
    }
  }
}