// Main labonline file

// Reset stylesheet
@import "plugins/reset";

// Load bourbon mixins
@import "plugins/bourbon/bourbon";
@import "plugins/neat/neat-helpers";

// Load fontawesome
@import "plugins/fontawesome/font-awesome";

// Load globals
@import "globals/variables";
@import "globals/mixins";
@import "globals/typography";
@import "globals/flex-box";

// Load shared components
@import "modules/shared/topbar";
@import "modules/shared/submenu";
@import "modules/shared/toolbar";
@import "modules/shared/layout";

// Load components
@import "modules/components/buttons";
@import "modules/components/dropdown";

@import "modules/components/tables";
@import "modules/components/table-headers";
@import "modules/components/table-pagination";

@import "modules/components/tabs";

@import "modules/components/ui-panel";

// Load sections