@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, plugins/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, plugins/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, plugins/_reset.scss */
body {
  line-height: 1;
}

/* line 34, plugins/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, plugins/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, plugins/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, plugins/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, plugins/fontawesome/scss/_core.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 5, plugins/fontawesome/scss/_larger.scss */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 10, plugins/fontawesome/scss/_larger.scss */
.fa-2x {
  font-size: 2em;
}

/* line 11, plugins/fontawesome/scss/_larger.scss */
.fa-3x {
  font-size: 3em;
}

/* line 12, plugins/fontawesome/scss/_larger.scss */
.fa-4x {
  font-size: 4em;
}

/* line 13, plugins/fontawesome/scss/_larger.scss */
.fa-5x {
  font-size: 5em;
}

/* line 3, plugins/fontawesome/scss/_fixed-width.scss */
.fa-fw {
  width: 1.28571em;
  text-align: center;
}

/* line 4, plugins/fontawesome/scss/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 8, plugins/fontawesome/scss/_list.scss */
.fa-ul > li {
  position: relative;
}

/* line 10, plugins/fontawesome/scss/_list.scss */
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
/* line 16, plugins/fontawesome/scss/_list.scss */
.fa-li.fa-lg {
  left: -1.85714em;
}

/* line 4, plugins/fontawesome/scss/_bordered-pulled.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

/* line 10, plugins/fontawesome/scss/_bordered-pulled.scss */
.fa-pull-left {
  float: left;
}

/* line 11, plugins/fontawesome/scss/_bordered-pulled.scss */
.fa-pull-right {
  float: right;
}

/* line 14, plugins/fontawesome/scss/_bordered-pulled.scss */
.fa.fa-pull-left {
  margin-right: .3em;
}
/* line 15, plugins/fontawesome/scss/_bordered-pulled.scss */
.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
/* line 19, plugins/fontawesome/scss/_bordered-pulled.scss */
.pull-right {
  float: right;
}

/* line 20, plugins/fontawesome/scss/_bordered-pulled.scss */
.pull-left {
  float: left;
}

/* line 23, plugins/fontawesome/scss/_bordered-pulled.scss */
.fa.pull-left {
  margin-right: .3em;
}
/* line 24, plugins/fontawesome/scss/_bordered-pulled.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 4, plugins/fontawesome/scss/_animated.scss */
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* line 9, plugins/fontawesome/scss/_animated.scss */
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 4, plugins/fontawesome/scss/_rotated-flipped.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 5, plugins/fontawesome/scss/_rotated-flipped.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 6, plugins/fontawesome/scss/_rotated-flipped.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 8, plugins/fontawesome/scss/_rotated-flipped.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 9, plugins/fontawesome/scss/_rotated-flipped.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 14, plugins/fontawesome/scss/_rotated-flipped.scss */
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

/* line 4, plugins/fontawesome/scss/_stacked.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 12, plugins/fontawesome/scss/_stacked.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 18, plugins/fontawesome/scss/_stacked.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 19, plugins/fontawesome/scss/_stacked.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 20, plugins/fontawesome/scss/_stacked.scss */
.fa-inverse {
  color: #fff;
}

/* line 2, plugins/fontawesome/scss/_used-icons.scss */
.fa-user:before {
  content: "";
}

/* line 3, plugins/fontawesome/scss/_used-icons.scss */
.fa-users:before {
  content: "";
}

/* line 4, plugins/fontawesome/scss/_used-icons.scss */
.fa-edit:before {
  content: "";
}

/* line 5, plugins/fontawesome/scss/_used-icons.scss */
.fa-eyedropper:before {
  content: "";
}

/* line 6, plugins/fontawesome/scss/_used-icons.scss */
.fa-book:before {
  content: "";
}

/* line 7, plugins/fontawesome/scss/_used-icons.scss */
.fa-table:before {
  content: "";
}

/* line 8, plugins/fontawesome/scss/_used-icons.scss */
.fa-pencil:before {
  content: "";
}

/* line 9, plugins/fontawesome/scss/_used-icons.scss */
.fa-angle-double-left:before {
  content: "";
}

/* line 10, plugins/fontawesome/scss/_used-icons.scss */
.fa-angle-double-right:before {
  content: "";
}

/* line 11, plugins/fontawesome/scss/_used-icons.scss */
.fa-angle-left:before {
  content: "";
}

/* line 12, plugins/fontawesome/scss/_used-icons.scss */
.fa-angle-right:before {
  content: "";
}

/* line 13, plugins/fontawesome/scss/_used-icons.scss */
.fa-calendar:before {
  content: "";
}

/* line 14, plugins/fontawesome/scss/_used-icons.scss */
.fa-chevron-down:before {
  content: "";
}

/* line 15, plugins/fontawesome/scss/_used-icons.scss */
.fa-chevron-left:before {
  content: "";
}

/* line 16, plugins/fontawesome/scss/_used-icons.scss */
.fa-chevron-right:before {
  content: "";
}

/* line 17, plugins/fontawesome/scss/_used-icons.scss */
.fa-sign-out:before {
  content: "";
}

/* line 18, plugins/fontawesome/scss/_used-icons.scss */
.fa-cog:before {
  content: "";
}

/* line 19, plugins/fontawesome/scss/_used-icons.scss */
.fa-file-text-o:before {
  content: "";
}

/* line 20, plugins/fontawesome/scss/_used-icons.scss */
.fa-times:before {
  content: "";
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
/* line 15, globals/_typography.scss */
html, body {
  font-family: Arial;
}

/* line 19, globals/_typography.scss */
h1, h2, h3 {
  margin: 0 0 5px 0;
  color: #434343;
  font-family: "open_sansbold", Verdana, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

/* line 27, globals/_typography.scss */
h1 {
  font-size: 1.38462em;
  font-weight: bold;
}

/* line 32, globals/_typography.scss */
h2 {
  margin: 10px 0;
  font-size: 1.61538em;
  font-weight: normal;
}

/* line 38, globals/_typography.scss */
h3 {
  font-size: 1em;
  font-weight: bold;
}

/* line 43, globals/_typography.scss */
h1.content-header {
  float: left;
  display: inline-block;
  line-height: 2em;
}

/* line 49, globals/_typography.scss */
p {
  line-height: 1.5em;
}
/* line 51, globals/_typography.scss */
p.error-text {
  color: #DB585C;
}
/* line 54, globals/_typography.scss */
p strong {
  font-family: "open_sansbold", Verdana, sans-serif;
  font-weight: bold;
}

/* line 60, globals/_typography.scss */
a {
  color: #59C0CA;
}
/* line 62, globals/_typography.scss */
a:hover {
  color: #3aabb6;
}

/* line 50, modules/shared/_topbar.scss */
div.topbar {
  position: fixed;
  left: 0;
  right: 0;
  border-bottom: 1px solid #E1E3E6;
  z-index: z-index(sidemenu topbar dropdown fixed-sub-header sub-menu logout logo footer footer-buttons side-nav jquery-ui notifications modal, topbar);
}
/* line 56, modules/shared/_topbar.scss */
div.topbar .blauw-balk {
  height: 40px;
  background: #59C0CA;
}
/* line 61, modules/shared/_topbar.scss */
div.topbar .blauw-balk ul.nav li a,
div.topbar .blauw-balk ul.nav li span {
  padding: 13px;
  color: #FFFFFF;
}
/* line 65, modules/shared/_topbar.scss */
div.topbar .blauw-balk ul.nav li a:hover,
div.topbar .blauw-balk ul.nav li span:hover {
  background: #3aabb6;
}
/* line 68, modules/shared/_topbar.scss */
div.topbar .blauw-balk ul.nav li a i,
div.topbar .blauw-balk ul.nav li span i {
  margin-right: 10px;
}
/* line 72, modules/shared/_topbar.scss */
div.topbar .blauw-balk ul.nav li span {
  display: block;
}
/* line 74, modules/shared/_topbar.scss */
div.topbar .blauw-balk ul.nav li span:hover {
  background: none;
}
/* line 81, modules/shared/_topbar.scss */
div.topbar #labonline-logo {
  margin: 10px 10px 10px 20px;
  float: left;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: transparent url("../../../src/assets/images/logos/logo-labonline.png") center left no-repeat;
  background-image: url("../../../src/assets/images/logos/logo-labonline.svg"), none;
}
/* line 90, modules/shared/_topbar.scss */
div.topbar ul.nav {
  padding: 0 10px;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}
/* line 96, modules/shared/_topbar.scss */
div.topbar ul.nav > li {
  display: inline-block;
  vertical-align: top;
}
/* line 99, modules/shared/_topbar.scss */
div.topbar ul.nav > li > a {
  display: inline-block;
  padding: 12px;
  font-family: "open_sansregular", Arial, sans-serif;
  color: #434343;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 109, modules/shared/_topbar.scss */
div.topbar div.menu-bar {
  width: 100%;
  height: 60px;
  position: relative;
  background: #FFFFFF;
  border-bottom: 1px solid #F6F6F6;
}
/* line 115, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems {
  float: left;
}
/* line 118, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li a {
  padding: 22px;
  color: #434343;
  font-family: "open_sansbold", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
/* line 125, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li a:hover {
  color: #59C0CA;
}
/* line 128, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li a.active, div.topbar div.menu-bar ul.nav.hoofdmenuitems li a.router-link-active {
  color: #59C0CA;
}
/* line 131, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li a.active:hover, div.topbar div.menu-bar ul.nav.hoofdmenuitems li a.router-link-active:hover {
  color: #3aabb6;
}
/* line 136, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li a.active:after {
  margin: -20px 0 0 -10px;
  top: 100%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border: transparent solid;
  border-color: transparent;
  border-bottom-color: #344052;
  border-width: 10px;
  content: " ";
  pointer-events: none;
}
/* line 151, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li a .menu-title {
  margin: 2px 0 0;
  float: left;
}
/* line 156, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li .dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 250px;
  border: 1px solid #E1E3E6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
  box-shadow: 0 2px 2px #D8D8D8;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/* line 167, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li .dropdown-content a {
  color: #434343;
  padding: 12px 16px;
  border-bottom: 1px solid #E1E3E6;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: inherit;
}
/* line 175, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li .dropdown-content a:last-child {
  border-bottom: none;
}
/* line 178, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li .dropdown-content a:hover {
  color: #59C0CA;
  background-color: #F6F6F6;
}
/* line 185, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li:hover > a {
  color: #59C0CA;
}
/* line 188, modules/shared/_topbar.scss */
div.topbar div.menu-bar ul.nav.hoofdmenuitems li:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}
/* line 196, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 200, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav {
  padding: 9px 10px 9px 0;
}
/* line 202, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav > li {
  padding: 0 10px;
  border-right: 1px solid #F6F6F6;
}
/* line 205, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav > li:last-child {
  border-right: none;
}
/* line 208, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav > li > a {
  color: #7C8492;
}
/* line 210, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav > li > a.user-profile {
  padding: 0;
}
/* line 213, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav > li > a:hover {
  color: #59C0CA;
}
/* line 216, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav > li > a.btn {
  margin: 0;
}
/* line 218, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav > li > a.btn.btn-primary {
  border: 0;
  color: #FFFFFF;
}
/* line 221, modules/shared/_topbar.scss */
div.topbar div.menu-bar .quick-links > ul.nav > li > a.btn.btn-primary.btn-disabled {
  color: #7D8492;
  background: #F6F6F6;
}
/* line 232, modules/shared/_topbar.scss */
div.topbar .badge {
  margin: 0 0 0 20px;
}

/* line 238, modules/shared/_topbar.scss */
.user-profile-dropdown > a.user-profile {
  padding: 0;
}
/* line 241, modules/shared/_topbar.scss */
.user-profile-dropdown::selection {
  background: transparent;
}
/* line 244, modules/shared/_topbar.scss */
.user-profile-dropdown::-moz-selection {
  background: transparent;
}
/* line 247, modules/shared/_topbar.scss */
.user-profile-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}
/* line 251, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown {
  position: absolute;
  top: 120%;
  right: 20px;
  width: 250px;
  background: white;
  border: 1px solid #E1E3E6;
  z-index: z-index(sidemenu topbar dropdown fixed-sub-header sub-menu logout logo footer footer-buttons side-nav jquery-ui notifications modal, logout);
  list-style: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
  box-shadow: 0 2px 2px #D8D8D8;
}
/* line 265, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown:after {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
  content: "";
}
/* line 276, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown:before {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: #E1E3E6 transparent;
  content: "";
}
/* line 287, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown li {
  border-bottom: 1px solid #E1E3E6;
}
/* line 289, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown li:last-child {
  border-bottom: none;
}
/* line 292, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown li:hover {
  background: #F4F4F4;
}
/* line 294, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown li:hover a, .user-profile-dropdown .dropdown li:hover i {
  color: #59C0CA;
}
/* line 298, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #7D8492;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 305, modules/shared/_topbar.scss */
.user-profile-dropdown .dropdown li i {
  margin-right: 10px;
  color: #E1E3E6;
  vertical-align: top;
}

/* line 316, modules/shared/_topbar.scss */
.no-opacity .user-profile-dropdown.active .dropdown,
.no-pointerevents .user-profile-dropdown.active .dropdown {
  display: block;
}
/* line 319, modules/shared/_topbar.scss */
.no-opacity .user-profile-dropdown .dropdown,
.no-pointerevents .user-profile-dropdown .dropdown {
  display: none;
  opacity: 1;
  pointer-events: auto;
}

/* line 2, modules/shared/_submenu.scss */
.toolbar .ssButton {
  font-size: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
/* line 3, modules/shared/_submenu.scss */
.toolbar .ssButton.combined {
  padding: 2px 10px;
  margin: 5px 10px;
  background-image: none !important;
  background-color: inherit;
  border: none;
  font-size: 0.8125em;
  color: #7D8492;
}
/* line 12, modules/shared/_submenu.scss */
.toolbar .ssButton.combined:hover {
  border-color: #3aabb6;
  background-color: #3aabb6;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #59C0CA;
  color: #FFFFFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 3, modules/shared/_toolbar.scss */
.toolbar .ssButton.image {
  padding: 2px;
  margin: 0 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 1, modules/shared/_layout.scss */
html, body {
  background-color: #F4F4F4;
}

/* line 5, modules/shared/_layout.scss */
.contextTitle {
  padding: 8px 20px;
  display: inline-block;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #E1E3E6;
  background: rgba(255, 255, 255, 0.3);
  font-size: 0.8125em;
  font-weight: bold;
  color: #7D8492;
}
/* line 17, modules/shared/_layout.scss */
.contextTitle a {
  text-decoration: none;
}
/* line 21, modules/shared/_layout.scss */
.contextTitle .contetxtPath {
  font-weight: normal;
}

/* line 26, modules/shared/_layout.scss */
.fieldset {
  padding: 20px;
  display: inline-block;
  border: 1px solid #E1E3E6;
  background: #FFFFFF;
}

/* line 33, modules/shared/_layout.scss */
#footer {
  margin: 5px 20px;
}

/* line 18, modules/components/_buttons.scss */
.btn-error {
  background: #DB585C;
  color: #FFFFFF;
  border: #d22e33;
}
/* line 22, modules/components/_buttons.scss */
.btn-error:hover {
  background: #d22e33;
}

/* line 37, modules/components/_buttons.scss */
.btn.single-icon {
  padding: 5px 8px;
}
/* line 40, modules/components/_buttons.scss */
.btn.single-icon i {
  margin: 1px 0 0;
}
/* line 44, modules/components/_buttons.scss */
.btn.single-icon[disabled] i {
  margin: 1px 0 0;
  color: #b6b6b6;
}

/* line 52, modules/components/_buttons.scss */
.btn.active {
  background-color: #3aabb6;
  border-color: #59C0CA;
  color: #FFFFFF;
}

/* line 58, modules/components/_buttons.scss */
.btn-group > .btn:active,
.btn-group > .btn.active {
  background-color: #59C0CA;
  border-color: #59C0CA;
  color: white;
  text-shadow: none;
}

/* line 66, modules/components/_buttons.scss */
.buttons,
.btn-group {
  display: block;
  margin: 10px 0;
}

/* line 73, modules/components/_buttons.scss */
.btn-group > .btn {
  margin-left: 5px;
}
/* line 76, modules/components/_buttons.scss */
.btn-group > .btn:first-child {
  margin-left: 0;
}

/* line 84, modules/components/_buttons.scss */
.btn-group > .btn {
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 88, modules/components/_buttons.scss */
.btn-group > .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 92, modules/components/_buttons.scss */
.btn-group > .btn:last-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 97, modules/components/_buttons.scss */
.btn-group .btn + .btn {
  margin-left: -1px;
}

/* line 103, modules/components/_buttons.scss */
.topnav .btn {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}
/* line 108, modules/components/_buttons.scss */
.topnav .btn:hover {
  background-color: #3aabb6;
  border-color: #3aabb6;
  color: #434343;
}

/* line 117, modules/components/_buttons.scss */
div.buttons,
.modal-body .buttons {
  margin: 10px 0 0 0;
  text-align: right;
}
/* line 121, modules/components/_buttons.scss */
div.buttons .btn,
.modal-body .buttons .btn {
  margin-bottom: 0;
}

/* line 128, modules/components/_buttons.scss */
.tz-table tr td .btn {
  font-size: 1em;
}

/* line 133, modules/components/_buttons.scss */
.heading-radios,
.btn-heading {
  float: right;
  position: relative;
  top: 8px;
}

/* line 140, modules/components/_buttons.scss */
.btn-full-width {
  width: 100%;
}

/* line 144, modules/components/_buttons.scss */
.btn {
  margin: 0;
  padding: 10px 15px;
}
/* line 148, modules/components/_buttons.scss */
.btn.btn-primary.btn-disabled {
  color: #b6b6b6;
  border: none;
}
/* line 153, modules/components/_buttons.scss */
.btn.btn-floating {
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  background: #59C0CA;
  color: #FFFFFF;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 164, modules/components/_buttons.scss */
.btn.btn-floating:hover,
.btn.btn-floating .active {
  background: #3aabb6;
}
/* line 168, modules/components/_buttons.scss */
.btn.btn-floating i {
  margin: 0;
  height: 25px;
  width: 25px;
  font-size: 2em;
  line-height: 0.9em;
}
