// Variables
//
// Gebruikte variables
//
// Styleguide 1.0

// Fontsizes
//
// De default fonts en font-sizes. Op basis van deze font sizes worden de andere font sizes bepaald m.b.v. de functie relative-size (rs) [relative-size](/section/2.1)
//
// Styleguide 1.1
$base-fs: 16;
$normal-fs: 13;

// Base font settings
$default-font: Arial, sans-serif;
$default-font-bold: Arial, sans-serif;
$font-header: Verdana, sans-serif;

//Line-height
$default-line-height: rs(27, $normal-fs);

// Kleuren
//
// De hoofdkleuren
//

// Color palette
$primary-color: #59C0CA;
$primary-color-dark: darken($primary-color, 10);
$primary-color-orange: #F78100;
$primary-color-orange-dark: darken($primary-color-orange, 5);
$secondary-color: #666666;
$dark-blue: #344052;
$dark-grey: #C0C4C9;
$grey: #F6F6F6;
$light-grey: #F4F4F4;
$secondary-grey: #E1E3E6;
$tertiary-grey: #D8D8D8;
$disabled-bg-grey: #E0E2E5;
$white: #FFFFFF;
$black: #000000;
$very-dark-grey: lighten($black, 20);

$disabled-color: darken($grey, 25);

// Body
$body-background-color: $light-grey;

// Tekst kleuren

// Text colors
$main-text-color: #434343;
$secondary-text-color: #7D8492;
$tertiary-text-color: #B3B3AF;
$placeholder-text-color: #C0C4C9;

$footer-background-color: #2F3949;
$footer-link-color: #8C94A6;
$footer-link-hover-bg-color: #4E596B;

// Feedback kleuren
// Error colors
$error-lighter-red: #ffbdb8;
$error-red: #DB585C;
$error-darker-red: #9e1f00;
$warning-lighter-yellow: #ffe8ad;
$warning-yellow: #feb800;
$warning-darker-yellow: #b99b00;
$success-lighter-green: #ccffcc;
$success-green: #2daa1e;
$success-darker-green: #0e9000;
$info-light-blue: #D9EDF7;
$info-blue: #31708F;

// Kleuren tabellen
$table-header-color: #9B9B9B;

// Zindex elementen
$elements: 	sidemenu
            topbar
            dropdown
            fixed-sub-header
            sub-menu
            logout
            logo
            footer
            footer-buttons
            side-nav
            jquery-ui
            notifications
            modal;

// Buttons
$btn-default-bg: $white;
$btn-default-color: $primary-color;
$btn-default-border: 1px solid $primary-color;
$btn-default-radius: 2px;
$btn-default-margin-bottom: 10px;
$btn-default-padding: 6px 15px;
$btn-default-fs: $base-fs;
$btn-primary-bg: $primary-color;
$btn-primary-border-color: $primary-color;
$btn-primary-color: $white;
$btn-hover-border-color: $primary-color-dark;
$btn-hover: $primary-color-dark;
$btn-hover-color: $white;
$btn-icon-margin: 1px 6px 0 -3px !default;
$btn-disabled-bg: $grey;
$btn-disabled-border-color: $grey;
$btn-disabled-color: $grey;

// Alert colors
$alert-succes-bg: $success-lighter-green;
$alert-succes-color: $success-darker-green;

$alert-info-bg: $info-light-blue;
$alert-info-color: $info-blue;

$alert-warning-bg: $warning-lighter-yellow;
$alert-warning-bg-inverse: #8A6D3B !default;
$alert-warning-color: $warning-darker-yellow;
$alert-warning-btn-border: #8A6D3B !default;

$alert-error-bg: $error-lighter-red;
$alert-error-color: $error-darker-red;
