// Variables
//
// Gebruikte variables
//
// Styleguide 1.0

// Fontsizes
//
// De default fonts en font-sizes. Op basis van deze font sizes worden de andere font sizes bepaald m.b.v. de functie relative-size (rs) [relative-size](/section/2.1)
//
// Styleguide 1.1
$base-fs: 16;
$normal-fs: 13;

// Base font settings
$default-font: "open_sansregular",Arial, sans-serif;
$default-font-bold: "open_sanssemibold", Arial, sans-serif;
$font-header: "open_sansbold", Verdana, sans-serif;

//Line-height
$default-line-height: rs(27, $normal-fs);

// Kleuren
//
// De hoofdkleuren
//

// Color palette
$primary-color: #59C0CA;
$primary-color-dark: darken($primary-color, 10);
$primary-color-orange: #F78100;
$primary-color-orange-dark: darken($primary-color-orange, 5);
$secondary-color: #666666;
$dark-blue: #344052;
$dark-grey: #C0C4C9;
$grey: #F6F6F6;
$light-grey: #F4F4F4;
$secondary-grey: #E1E3E6;
$tertiary-grey: #D8D8D8;
$disabled-bg-grey: #E0E2E5;
$white: #FFFFFF;
$black: #000000;
$very-dark-grey: lighten($black, 20);

$disabled-color: darken($grey, 25);

// Body
$body-background-color: $light-grey;

// Tekst kleuren

// Text colors
$main-text-color: #434343;
$secondary-text-color: #7D8492;
$tertiary-text-color: #B3B3AF;
$placeholder-text-color: #C0C4C9;

// Topbar
$topbar-primary-background-color: $white;
$topbar-primary-text-color: $main-text-color;
$topbar-primary-font: "open_sansbold", Arial, sans-serif;
$topbar-secondary-background-color: $primary-color;
$topbar-secondary-text-color: $white;
$topbar-tertiary-text-color: #7C8492;
$topbar-menu-background-color: #344052;
$topbar-menu-header-color: #707B8C;
$topbar-menu-header-border: 1px solid #71777C;
$topbar-menu-body-color: $white;
$topbar-menu-body-border: 1px solid #495465;
$topbar-menu-body-link-hover-color: #717b8c;

$footer-background-color: #2F3949;
$footer-link-color: #8C94A6;
$footer-link-hover-bg-color: #4E596B;

// Mijn gesprekken
$bericht-systeem-bg-color: #B8EEFF;
$bericht-eigen-bg-color: #DBEDF2;
$bericht-eigen-border-color: #D0E7ED;

// Feedback kleuren
// Error colors
$error-lighter-red: #ffbdb8;
$error-red: #DB585C;
$error-darker-red: #9e1f00;
$warning-lighter-yellow: #ffe8ad;
$warning-yellow: #feb800;
$warning-darker-yellow: #b99b00;
$success-lighter-green: #ccffcc;
$success-green: #2daa1e;
$success-darker-green: #0e9000;
$info-light-blue: #D9EDF7;
$info-blue: #31708F;

// Kleuren tabellen
$table-header-color: #9B9B9B;

// Zindex elementen
$elements: 	sidemenu
            topbar
            dropdown
            fixed-sub-header
            sub-menu
            logout
            logo
            footer
            footer-buttons
            side-nav
            jquery-ui
            notifications
            modal;

// Buttons
$btn-default-bg: $white;
$btn-default-color: $primary-color;
$btn-default-border: 1px solid $primary-color;
$btn-default-radius: 2px;
$btn-default-margin-bottom: 10px;
$btn-default-padding: 6px 15px;
$btn-default-fs: $base-fs;
$btn-primary-bg: $primary-color;
$btn-primary-border-color: $primary-color;
$btn-primary-color: $white;
$btn-hover-border-color: $primary-color-dark;
$btn-hover: $primary-color-dark;
$btn-hover-color: $white;
$btn-icon-margin: 1px 6px 0 -3px !default;
$btn-disabled-bg: $grey;
$btn-disabled-border-color: $grey;
$btn-disabled-color: $grey;

// Alerts
$alert-fs: 13px !default;
$alert-padding: 10px !default;
$alert-margin-bottom: 10px !default;
$alert-border-radius: 3px !default;

// Alert colors
$alert-succes-bg: $success-lighter-green;
$alert-succes-color: $success-darker-green;

$alert-info-bg: $info-light-blue;
$alert-info-color: $info-blue;

$alert-warning-bg: $warning-lighter-yellow;
$alert-warning-bg-inverse: #8A6D3B !default;
$alert-warning-color: $warning-darker-yellow;
$alert-warning-btn-border: #8A6D3B !default;

$alert-error-bg: $error-lighter-red;
$alert-error-color: $error-darker-red;

// Modal colors
$tz-modal-text-color: $main-text-color;
$tz-modal-bg-color: $white;

$tz-modal-header-bg: $grey;
$tz-modal-header-padding: 10px 20px;
$tz-modal-header-fs: 1.1em;
$tz-modal-header-lineheight: 1.6em;
$tz-modal-header-border: 1px solid $tertiary-grey;

$tz-modal-footer-bg: $grey;
$tz-modal-footer-btn-text-color: $main-text-color;
$tz-modal-footer-btn-secondary-text-color: #FFF !default;

// Tooltips
$qtip-max-width: 320px !default;
$qtip-bg: $very-dark-grey;
$qtip-border-color: transparent;
$qtip-fs: rs($base-fs);
$qtip-line-height: 16 !default;
$qtip-color: $white;

// Datepicker
$db_font_color:			$main-text-color;
$dp_normal_fs: 			rs($base-fs);

$dp_width: 				auto;
$dp_height: 			35px;

$dp_bg: 				$white;

// Feedback colors
$dp_bg_error: 			$error-red;
$dp_bg_warning: 		$warning-yellow;
$dp_bg_succes: 			$success-green;

$dp_border_radius: 		4px;
$dp_border_color:       1px solid $secondary-grey;

// table pagination
$table-navigator-padding: 4px 0 !default;
$table-pagination-icon-width: 16px !default;
$table-pagination-icon-height: 16px !default;
$table-pagination-icon-url: none;
$table-pagination-pagelink-padding: 4px 8px !default;
$table-pagination-pagelink-margin: 0 2px !default;
$table-pagination-pagelink-bg: #fff !default;
$table-pagination-pagelink-border-radius: 2px !default;
$table-pagination-pagelink-fs: 13px !default;
$table-pagination-pagelink-lh: 1em !default;
$table-pagination-pagelink-color: $main-text-color;
$table-pagination-active-bg: $primary-color;
$table-pagination-active-color: $white;
$table-pagination-first-pos: 0 0 !default;
$table-pagination-prev-pos: -17px 0 !default;
$table-pagination-next-pos: -31px 0 !default;
$table-pagination-last-pos: -48px 0 !default;
$table-pagination-icon-disabled-opacity: 0.5;

// Question answer overrides
$question-margin-bottom: 10px;