// Buttons
//
// Om een button te stylen voeg je de class <code>.btn</code> toe.
//
// Om de buttons rechts uit te lijnen plaats de button in een container met de class <code>.buttons</code>.
//
// .btn-primary       - Primaire buttons trekken meer de attentie van de gebruiker en zijn bedoeld voor primaire acties.
//
//Markup: <div class="buttons">
//     <button class="btn {{modifier_class}}">Touch me!</button>
//</div>
//
// Styleguide componenten.buttons

$btn-default-bg: $white;
$btn-default-color: $primary-color;
$btn-default-border: 1px solid transparent;
$btn-default-radius: 2px;
$btn-default-margin-bottom: 0;
$btn-default-padding: 0;
$btn-default-fs: rs($base-fs);
$btn-primary-bg: $primary-color;
$btn-primary-border-color: $primary-color;
$btn-primary-color: $white;
$btn-hover-border-color: $primary-color;
$btn-hover: $primary-color;
$btn-hover-color: $white;
$btn-icon-margin: 1px 6px 0 -3px !default;
$btn-disabled-bg: $grey;
$btn-disabled-border-color: $disabled-color;
$btn-disabled-color: $disabled-color;

.btn,
.btn-primary {
  padding: $btn-default-padding;
  text-align: center;
  vertical-align: middle;
  background-color: $btn-default-bg;
  border: $btn-default-border;
  border-radius: $btn-default-radius;
  margin-bottom: $btn-default-margin-bottom;
  font-size: rs($btn-default-fs);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: $btn-default-color;

  &:focus {
    outline: none;
  }

}

.btn {
  i {
    margin: $btn-icon-margin;
  }
}

.btn:hover {
  border-color: $btn-hover-border-color;
  background-color: $btn-hover; /* Old browsers */
  color: $btn-hover-color;
  cursor: pointer;
}

//Primary button styling
.btn-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border-color;
  color: $btn-primary-color;
}


// Disabled
//
// Om een button disabled te maken voeg je het attribute <code>disabled</code> of de class <code>btn-disabled</code> toe
//
// Markup: <div class="buttons">
//     <button class="btn" disabled="disable">Disabled button</button>
//     <input type="button" class="btn" value="Disabled button" disabled="disabled" />
//     <a href="javascript:void(0);" class="btn btn-disabled">Disabled button</a>
//</div>
//
// Styleguide componenten.buttons.disabled

.btn.btn-disabled,
.btn.btn-disabled:hover,
.btn[disabled],
.btn[disabled]:hover  {
  border-color: $btn-disabled-border-color;
  background-color: $btn-disabled-bg;
  color: $btn-disabled-color;
  cursor: default;
}

// Buttons
//
// Gebruik btn-primary voor primaire acties. Gebruik er ook maar 1 per groep.
// Gebruik btn-error voor acties die met terughoudendheid moeten worden gebruikt. Denk aan verwijderen.
//
// Markup:
//  <button class="btn {$modifiers}">Klik hier!</button>
//
// .btn-primary - Primaire button
// .btn-error - Error button
// . - Normale button
//
// sg-wrapper:
// <div class=""><sg-wrapper-content/></div>
//
// Styleguide 5.11
.btn-error {
  background: $error-red;
  color: $white;
  border: darken($error-red, 10);
  &:hover {
    background: darken($error-red, 10);
  }
}

// Buttons met een icoon
//
// Voor plaatsen in de UI waar een volledige tekst niet past, kan er een button met een icoon worden gebruikt.
//
// Markup: <div class="buttons">
//     <button class="btn single-icon {$modifiers}"><i class="icon-info"></i></button>
//</div>
//
// Styleguide 5.12

.btn.single-icon {
  padding: 5px 8px;

  i {
    margin: 1px 0 0;
  }

  &[disabled] i {
    margin: 1px 0 0;
    color: $disabled-color;
  }
}


// Button active state (gebruikt in button-group)
.btn.active {
  background-color: $primary-color-dark;
  border-color: $primary-color;
  color: $white;
}

.btn-group>.btn:active,
.btn-group>.btn.active {
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
  text-shadow: none;
}

.buttons,
.btn-group {
  display: block;
  margin: 10px 0;
}

.btn-group {
  > .btn {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }

}

.btn-group {
  > .btn {
    float: left;
    @include border-radius(0);

    &:first-child {
      @include border-radius(4px 0 0 4px);
    }

    &:last-child {
      @include border-radius(4px 0 0 4px);
    }
  }

  .btn + .btn {
    margin-left: -1px;
  }
}

.topnav {
  .btn {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:hover {
      background-color: $primary-color-dark;
      border-color: $primary-color-dark;
      color: $main-text-color;
    }
  }
}

//Buttons are usualy placed on the right.
div.buttons,
.modal-body .buttons {
  margin: 10px 0 0 0;
  text-align: right;
  .btn {
    margin-bottom: 0;
  }

}

//Buttons within tables
.tz-table tr td .btn {
  font-size: rs(13, 13);
}

//Buttons next to headings
.heading-radios,
.btn-heading {
  float: right;
  position: relative;
  top: 8px;
}

.btn-full-width {
  width: 100%;
}

.btn {
  margin: 0;
  padding: 10px 15px;
  &.btn-primary {
    &.btn-disabled {
      color: $disabled-color;
      border: none;
    }
  }
  &.btn-floating {
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    background: $primary-color;
    color: $white;
    text-align: center;
    @include border-radius(50%);
    @include box-shadow(2px, 2px, 4px, rgba(#000000, 0.25));
    @include transform(rotate(90deg));
    &:hover,
    .active {
      background: $primary-color-dark;
    }
    i {
      margin: 0;
      height: 25px;
      width: 25px;
      font-size: 2em;
      line-height: 0.9em;
    }
  }
}

// Labonline specifieke button styling
.ssButton {
  @extend .btn;
  background-repeat: no-repeat;
  &.image {
    padding: 5px;
    background: none;
    &:hover {
      background: none;
      border: 1px solid transparent;
    }

  }
  &.combined {
    padding-left: 25px;
    background-position-y: 3px;
    background-position-x: 3px;
  }
  &[value="Vernieuwen"],
  &[value="Toepassen"] {
    padding: 5px 10px;
    @extend .btn-primary;
    &:hover {
      background: $primary-color-dark;
    }
  }
  &[value="Voorschrift aanmaken"] {
    background-repeat: no-repeat;
  }
}

[disabled].ssButton.image {
  opacity: 0.2;
  border: none;
  background: $white;
  &:hover {
    background: none;
  }
}