.ui-widget-overlay {
  background: rgba($black, 0.9);
}

.ui-dialog {
  padding: 0;
  @include box-shadow();
  @include border-radius($border-radius-medium);
  .ui-dialog-content {
    padding: 0;
    .ui-dialog-titlebar {
      padding: 0;
      .ui-widget-header {
        padding: 10px;
        background: $grey;
        border: none;
        border-bottom: 1px solid $secondary-grey;
        @include border-radius($border-radius-medium $border-radius-medium 0 0);
        .ui-dialog-title {
          > img {
            display: none;
          }
        }
        .ui-dialog-titlebar-close {
          display: inline-block !important;
        }
      }
    }
    > div:last-child {
      padding: 10px;
    }
  }
  .ui-widget-content {
    background: $white;
    .ui-tabset .ui-tabs-panel {
      padding: 0;
      .ui-tabs-nav {
        margin: 10px 0;
        border: 0;
        .ui-state-default {
          padding: 2px 5px;
          color: $main-text-color;
          @include border-radius(20px);
          &:hover {
            color: $primary-color;
          }
          &.ui-state-active {
            color: $white;
            background: $primary-color;
            &:hover {
              background: $primary-color-dark;
            }
          }
        }
      }
    }
  }
}