#body {
  form > table.toolbar {
    padding: 5px 10px 0 10px;
    width: 100%;
    display: block;

    > tbody {
      background-color: $grey;
      width: 100%;
      border-collapse: separate;
      border-spacing: inherit;
      border:  1px solid $secondary-grey;
      display: block;

      @include border-radius(4px 4px 0 0);
    }

    .ssButton {
      border: none;
      background-color: #59C0CA;
      color: $white;
      margin: 5px;
      padding: 5px;
      @include border-radius(5px);

      &:hover {
        border-color: #3aabb6;
        background-color: #3aabb6;
        color: #FFFFFF;
        cursor: pointer;
      }

      &.combined {
        padding: 5px 10px 5px 25px;
        background-position-y: 3px;
        background-position-x: 3px;
      }

      &.image {
        padding: 2px;
        margin: 0 2px;
        background-color: $light-grey;
        @include border-radius(5px);

        &.narrow {
          background-color: $grey;
        }
      }
    }

    .ui-selectmenu.selector.iconComboBox {
      > a > .ui-inputfield {
        background-repeat: no-repeat;

        padding: 5px 10px 5px 25px;
        background-position-y: 1px;
        background-position-x: 3px;
      }
    }
  }

  div > .fieldset {
    width: 100%;
    padding: 0 10px 10px 10px;
    display: inline-block;

    > table {
      width: inherit;

      > tbody {
        width: inherit;
        padding: 20px;
        background-color: $white;
        border-collapse: separate;
        border-spacing: inherit;
        border:  1px solid $secondary-grey;
        border-top: transparent;
        display: block;
        font-size: rs(12, $base-fs);
        line-height: rs(16, $base-fs);

        @include border-radius(0 0 4px 4px);
        @include box-shadow();
      }
    }
  }
}