#body {
  .toolbar {
    padding: 5px 10px 0 10px;
    width: 100%;
    display: block;

    tbody {
      background-color: $grey;
      width: 100%;
      border-collapse: separate;
      border-spacing: inherit;
      border:  1px solid $secondary-grey;
      display: block;

      @include border-radius(4px 4px 0 0);
    }
  }

  .fieldset {
    width: 100%;
    padding: 0 10px 10px 10px;
    display: inline-block;

    table{
      width: inherit;

      tbody {
        width: inherit;
        padding: 20px;
        background-color: $white;
        border-collapse: separate;
        border-spacing: inherit;
        border:  1px solid $secondary-grey;
        border-top: transparent;
        display: block;
        font-size: rs(12, $base-fs);
        line-height: rs(16, $base-fs);

        @include border-radius(0 0 4px 4px);
        @include box-shadow();
      }
    }
  }
}