// Bijvoorbeeld: Opzoekcriteria
.ui-panel.ui-widget {
  padding: 0 10px 10px;
  border: none;
  background: none;
  .ui-panel-titlebar {
    padding: 10px;
    display: block;
    width: 100%;
    border-bottom: 1px solid $tertiary-grey;
    background: $grey;
    color: $secondary-text-color;
    text-decoration: none;
    @include border-radius($border-radius-small $border-radius-small 0 0);
  }
  .ui-panel-content {
    padding: 10px;
    border: 1px solid $secondary-grey;
    border-top-color: transparent;
    background: $white;
    @include box-shadow();
    @include border-radius(0 0 $border-radius-small $border-radius-small);
    .fieldset {
      padding: 0;
      border: none;
    }
    .ui-tabset .ui-tabs-panel {
      padding: 10px;
      .ui-tabs-panel {
        padding: 0;
        table {
          border-collapse: initial;
          border-spacing: 5px;
        }
      }
    }
    .ssButton {
      padding: 5px 10px;
      margin: 0 10px 0 0;
      @extend .btn;
      &.image {
        padding: 5px;
        &:hover {
          background: none;
          border: 1px solid transparent;
        }
      }
      &.combined {
        padding-left: 25px;
        background-position-y: 3px;
        background-position-x: 3px;
      }
    }
    [disabled].ssButton.image {
      opacity: 0.5;
      border: none;
      background: $white;
      &:hover {
        background: $grey;
      }
    }
  }
}

.ui-tabset .ui-tabs-panel {
  overflow: scroll;
}